body {
  height: 98vh;
  width: 98vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

#inGameDisplay {
  height: 100%;
  width: 100%;
  color: #0086C6;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 3fr 3fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas: "trivia     timer"
                       "answer     timer"
                       "scoreBoard scoreBoard"
}

.trivia, .answer {
  font-size: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  /* text-shadow: -6px 4px 51px #888; */
}

.trivia { grid-area: trivia }

.answer { grid-area: answer }

.timerSidebar {
  grid-area: timer;
  background-color: #FF6D00;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  overflow-y: hidden;
}

#countDownHeading, #minutes, #seconds, #colon, .scoreBoardHeading {
  color: white;
  text-shadow: -6px 4px 31px #000;
  text-decoration: black;
  font-size: 1.8em;
}

.leadersHeading {
  margin-top: 2em;
  text-shadow: -6px 4px 31px #000;
  text-decoration: black;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#leaderBoardWrapper {
  overflow-y: inherit;
  width: 100%;
}

.scoreBoard {
  grid-area: scoreBoard;
  background-color: #66CC00;
  padding: .8em;
}

table {
  border-spacing: 10px;
  margin: auto;
}

#scoreBoardRow span {
  padding: .3em;
}

#scoreBoardRow {
  display: flex;
  flex-flow: row wrap;
}

.rank {
  background-color: #0086C6;
  color: white;
  border-radius: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  padding: .5em;
}

.leaderScoreBlock, .teamScoreBlock,
.rank, .scoreBoard, .timerSidebar {
  box-shadow: -6px 4px 31px 0px rgba(0,0,0,0.75);
}

.leaderScoreBlock, .teamScoreBlock {
  display: flex;
  flex-flow: row nowrap;
  padding: .5em;
  margin: .3em;
  width: 100px;
  border: 0px solid gray;
  background-color: white;
  border-radius: 8px;
}

.teamScoreBlock {
  flex: 1 0 16%;
}

.teamName {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.teamScore {
  flex-shrink: 1;
}